@tailwind base;
@tailwind components;
@tailwind utilities;


.canvas-container {
    width: 100vw !important;
    height: 100vh !important;
    background-color: #F5F2ED;
    position: relative;
    display: block;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}